# Build results
/mini-instapay/[Dd]ebug/
/mini-instapay/[Dd]ebugPublic/
/mini-instapay/[Rr]elease/
/mini-instapay/[Rr]eleases/
/mini-instapay/x64/
/mini-instapay/x86/
/mini-instapay/[Ww][Ii][Nn]32/
/mini-instapay/[Aa][Rr][Mm]/
/mini-instapay/[Aa][Rr][Mm]64/
/mini-instapay/bld/
/mini-instapay/[Bb]in/
/mini-instapay/[Oo]bj/
/mini-instapay/[Ll]og/
/mini-instapay/[Ll]ogs/
/mini-instapay/out/
/mini-instapay/.vs
/.vs

!mini-instapay/out/build/x64-debug/mini-instapay.db
